.lider {
    position: absolute;
    text-align: center;
    margin-top: 10rem;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'GothaProBla', sans-serif;
    font-size: 3em;
  }
  
  .RV {
    position: absolute;
    text-align: center;
    margin-top: 15rem;
    color: black;
    left: 50%;
    transform: translateX(-50%) scaleX(1.2);
    width: 100%;
    height: 200px;
    font-size: 2em;
    font-family: 'GothaProReg', sans-serif;
  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    background-color: #363a3d;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 550px;
    margin-left: 100px;
    width: 400px;
    transform: none;
  }