/* Добавляем стиль для основного контейнера */
.main-container {
  position: relative;
  width: 100%;
  min-height: 60vh; /* Минимальная высота на весь экран */
  overflow: hidden; /* Обрезаем все, что выходит за границы */
}

.Backfactory {
  position: absolute; /* Меняем fixed на absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.texts {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 7rem;
  letter-spacing: 10px;
}

.lider {
  color: black;
  font-family: 'GothaProBla', sans-serif;
  font-size: 3em;
  margin-bottom: 1rem;
}

.RV {
  color: black;
  font-size: 2em;
  font-family: 'GothaProBla', sans-serif;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}