
.BigLogo {
  display: inline-block; /* Контейнер будет подстраиваться под размер содержимого */
  position: relative; /* Для позиционирования дочерних элементов */
}

.SliderLogo {
  top: 0%;
  position: relative;
  display: block; /* Убедимся, что изображение занимает всю ширину контейнера */
  width: 100%; /* Ширина будет зависеть от исходного размера изображения */
  height: 1000px; /* Высота будет зависеть от исходного размера изображения */
  z-index: 2;

}


.FactoryLogo {
  position: absolute; /* Абсолютное позиционирование относительно .BigLogo */
  top: 50%; /* Позиционируем по вертикали */
  left: 40%; /* Позиционируем по горизонтали */
  transform: translate(-50%, -50%); /* Центрируем изображение */
  width: 1500px; /* Размер второго изображения (можно настроить) */
  height: auto; /* Сохраняем пропорции */
  z-index: 1; /* FactoryLogo будет снизу */
  filter: brightness(0.6);
}
.Logo30years {
  position: absolute; /* Абсолютное позиционирование относительно .BigLogo */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  width: 270px; /* Размер логотипа (можно настроить) */
  height: auto; /* Сохраняем пропорции */
  z-index: 3; /* Логотип будет поверх всех изображений */
  filter: brightness(1.8);
}
.KNG_Automation {
  position: absolute; /* Абсолютное позиционирование относительно .BigLogo */
  top: 40%; /* Позиционируем по вертикали */
  left: 40%; /* Позиционируем по горизонтали */
  transform: translate(-50%, -50%); /* Центрируем текст */
  z-index: 4; /* Текст будет поверх всех элементов */
  color: white; /* Цвет текста */
  font-size: 4rem; /* Размер текста (можно настроить) */
  text-align: left; /* Выравнивание текста по центру */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}