
.BigLogo {
  display: inline-block; /* Контейнер будет подстраиваться под размер содержимого */
  position: relative; /* Для позиционирования дочерних элементов */
}

.SliderLogo {
  top: 0%;
  position: relative;
  display: block; /* Убедимся, что изображение занимает всю ширину контейнера */
  width: 100%; /* Ширина будет зависеть от исходного размера изображения */
  height: 600px; /* Высота будет зависеть от исходного размера изображения */
  z-index: 2;

}


.FactoryLogo {
  position: absolute; /* Абсолютное позиционирование относительно .BigLogo */
  top: 50%; /* Позиционируем по вертикали */
  left: 50%; /* Позиционируем по горизонтали */
  transform: translate(-50%, -50%); /* Центрируем изображение */
  width: 100%; /* Размер второго изображения (можно настроить) */
  height: auto; /* Сохраняем пропорции */
  z-index: 1; /* FactoryLogo будет снизу */
  filter: brightness(0.6);
}
.Logo30years {
  position: absolute; /* Абсолютное позиционирование относительно .BigLogo */
  top: 10px; /* Отступ сверху */
  left: 10px; /* Отступ слева */
  width: 350px; /* Размер логотипа (можно настроить) */
  height: auto; /* Сохраняем пропорции */
  z-index: 3; /* Логотип будет поверх всех изображений */
  filter: brightness(1.8);
}
.KNG_Automation{
  position: absolute;
  z-index: 4;
}